body {
	width: 100vw;
	overflow-x: hidden;
}

.clear {
	clear: both;
}

a.nodec {
	text-decoration: none;
	color: black;
}

.section {
	padding: 70px 0 20px 0;
}

.section-title {
	text-align: center;
	font-size: 96px;
	font-family: "AllStar4";
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-text-container {
	font-size: 24px;
	font-family: "Roboto Condensed";
}

p.section-text {
	margin-bottom: 15px;
	line-height: 28px;
}

#welcome-banner {
	width: 100%;
	overflow-y: hidden;
}

#welcome-bg {
	width: 100%;
	height: 100vh;
	background: url("../img/welcome-us-2.jpg");
}

#about {
	width: 100%;
	background: url("../img/about-bg-2.jpg");
	background-size: cover;
	color: black;
}

#about-content {
	width: 50%;
	margin: 0 auto;
}

.inline-logo {
	width: 30%;
	margin: 10px 20px 10px 0;
	border-radius: 50%;
}

#germany-logo {
	float: left;
}

#brazil-logo {
	float: right;
	margin-left: 10px;
}

#team {
	width: 100%;
	height: 200vh;
	background: url("../img/team-bg-2.jpg");
	background-size: cover;
}

.pic-name {
	margin-top: 10px;
	font-family: "Roboto Condensed";
	font-weight: bold;
}

#exec {
	width: 70%;
	margin: 0 auto;
	text-align: center;

}

.exec-pic-div {
	margin-top: 25px;
	float: left;
	width: 16.6666667%;
}

.exec-pic-img {
	border-radius: 50%;
	border: 2px solid lightgray;
	width: 75%;
}