body {
	width: 100vw;
	overflow-x: hidden;
}

.clear {
	clear: both;
}

a.nodec {
	text-decoration: none;
	color: black;
}

.section {
	padding: 20px 0 50px 0;
}

.section-title-img-div {
	width: 25%;
	margin: 0 auto;	
	padding-bottom: 10px;
}

.section-title-img {
	width: 100%;
}

.section-text-container {
	font-size: 24px;
	font-family: "Roboto Condensed";
}

p.section-text {
	margin-bottom: 15px;
	line-height: 28px;
}

#welcome-banner {
	width: 100%;
	overflow-y: hidden;
}

#welcome-bg {
	width: 100%;
}

#about {
	width: 100%;
	background: url("../img/about-bg.jpg");
	background-size: cover;
	color: black;
}

#about-content {
	width: 50%;
	margin: 0 auto;
}

.inline-logo {
	width: 30%;
	margin: 10px 20px 10px 0;
	border-radius: 50%;
}

#germany-logo {
	float: left;
}

#brazil-logo {
	float: right;
	margin-left: 10px;
}

#team {
	width: 100%;
	background: url("../img/team-bg-2.jpg");
	background-size: cover;
}

.pic-name {
	margin-top: 10px;
	font-family: "Roboto Condensed";
	font-weight: bold;
}

#team-members {
	width: 70%;
	margin: 0 auto;
	text-align: center;

}

.team-pic-div {
	margin-top: 25px;
	float: left;
	width: 16.6666667%;
}

.team-pic-img {
	border-radius: 50%;
	border: 2px solid lightgray;
	width: 75%;
}

@media all and (max-width: 1280px) {
	#about-content {
		width: 80%;
		font-size: 20px;
	}

	#team-members {
		width: 80%;
	}

	.team-pic-div {
		width: 24%;
	}

}

@media all and (max-width: 800px) {
	.team-pic-div {
		width: 33%;
	}
}